.modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 25rem;
}
.close-button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-bottom: -0.5rem;
}
.modal-image {
  width: 100%;
  border-radius: 1rem;
}

.modal-user-name {
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 0;
}

.modal-bio {
  text-align: center;
  width: fit-content;
  margin: 0;
}

.modal-social-info {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .modal-content-container {
    max-width: 35rem;
  }
}
