.list-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-title {
  font-size: 3rem;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  .list-container {
    max-width: 80%;
  }
  .items-container {
    flex-direction: row;
  }
}
